<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SQLConnection" value="Persist Security Info=False;MultipleActiveResultSets=true;User Id=sa;password=123; Initial Catalog=A1184_DWS_Profiler;Data Source=.\SQLEXPRESS"/>
    <add key="ProjectCode" value="A1184"/>
    <add key="LineNo" value="1"/>
    </appSettings> 
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Pages/ErrorPage/Error.aspx">
      <error statusCode="404" redirect="~/Pages/ErrorPage/Error.aspx" />
      <error statusCode="500" redirect="~/Pages/ErrorPage/Error.aspx" />
    </customErrors>
    
  </system.web>
  <system.webServer>
    
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/Pages/ErrorPage/Error.aspx" responseMode="ExecuteURL" prefixLanguageFilePath="" />
      <remove statusCode="500" />
      <error statusCode="500" path="/Pages/ErrorPage/Error.aspx" responseMode="ExecuteURL" prefixLanguageFilePath="" />
    </httpErrors>
    
  </system.webServer>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
